@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

/* NOTE: find out why "@layer" directive is not working */
/* @layer utilities { */
.masonry {
  column-count: 1;
  column-gap: 2rem;
}

@media (min-width: 640px) {
  .masonry {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem; /* Adjust spacing between items */
}

.masonry-item img {
  width: 100%; /* Images will take the full width of their container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures images fit nicely */
}
/* } */
